/* CSS variables */
:root {
  --color-bg: #f2e4f9;
  --color-titulo: #E64996;
  --color-primario: #FE6DAE; 
  --color-secundario: #FFFF00; 
  --color-terciario: #FFFF00; 
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}


body {
  background-color: var(--color-bg);
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #E64996;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 110%;
  margin: 70px auto;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: 530px;
  margin-top: -30px;
}

/* Instructions */
.instructions {
  margin: 4rem;
  text-align: center;
}

.instruccion {
  font-size: 27px;
  padding: 0 150px;
  margin: 0 auto;
}

.instructions h3, .cont-btn{
  margin: 30px auto;
}

.bn-sel-trivia{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 0;
}


.cont-ingreso-datos{
  display: flex;
  justify-content-center;
  align-items:center;
  padding: 70px 150px;
  margin: 0 auto;
}

.cont-nombre, .cont-btn{
  text-align-center;
  margin: 0 auto;
}

.form-select{
  padding: 15px 25px;
  margin: 0 auto;
}

/* Button - Add it from the README instructions */
button{
  font-family: inherit;
  font-size: 100%;
  background: #FE95CD;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

button:hover, .cont-ingreso-datos input:hover, .cont-ingreso-datos select:hover{
  background: #FEC4ED;
} 

.cont-ingreso-datos input, select{
  font-family: inherit;
  font-size: 100%;
  background: #89c9e3;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}



.mensaje-nombre{
  text-align: center;
  padding: 0 200px;
  margin: 80px auto;
}

.mensaje-nombre p{
  font-size: 30px;
  font-weight: bold;
  color: #839cb5;
}


/*CSS Preguntas*/

.pregunta{
  margin: 10em;
}

.titulo-pregunta{
  color: var(--color-primario);
  text-align: center; 
  font-size: 3em;
}

.contenido-pregunta{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imagen-pregunta {
  width: 400px;
  margin: 1em;
  border-radius: 5%;
}

/*CSS Radio Buttons*/

.radio-contenedor {
  /*display: flex;*/
  align-items: center;
  gap: 10px;
}

/* Footer */
.footer {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  border-top: 2px solid var(--color-titulo);;
}